body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
}

.cv-header {
    text-align: center;
    margin-bottom: 20px;
}

.cv-header h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.education-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
}

.education-list li {
    margin-bottom: 20px; /* Отступ между элементами списка */
}

.education-list h3 {
    margin: 0; /* Убираем отступы */
    font-size: 1.2em; /* Размер шрифта */
    font-weight: 600; /* Толщина шрифта */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
}

.education-list p {
    margin: 0; /* Отступы */
    font-size: 1em; /* Размер шрифта */
}

.education-list span {
    margin: 0; /* Отступы */
    font-size: 1em; /* Размер шрифта */
}

.sub-section-title {
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.project-title {
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.skills ul, .coursework ul, .languages ul {
    list-style-type: none;
    padding-left: 0;
}

.skills ul li, .coursework ul li, .languages ul li {
    padding-left: 1.2em;
    position: relative;
}

.skills ul li::before, .coursework ul li::before, .languages ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #007bff;
}
